@font-face {
  font-family: "twinkl-buttons";
  src: url("https://images.twinkl.co.uk/tr/raw/upload/t/fonts/twinkl-buttons.eot");
  src: url("https://images.twinkl.co.uk/tr/raw/upload/t/fonts/twinkl-buttons.eot?#iefix") format("embedded-opentype"), url("https://images.twinkl.co.uk/tr/raw/upload/t/fonts/twinkl-buttons.woff") format("woff"), url("https://images.twinkl.co.uk/tr/raw/upload/t/fonts/twinkl-buttons.ttf") format("truetype"), url("https://images.twinkl.co.uk/tr/raw/upload/t/fonts/twinkl-buttons.svg#Twinkl") format("svg");
  font-weight: normal;
  font-style: normal; }
